// Menu
.nav-bar-menu {
  background: #04448d;
  width: 100%;

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;

    li {
      padding: 8px 24px;
      position: relative;
      a {
        color: white;
        text-transform: uppercase;
      }
    }

    li:hover {
      .sub-menu {
        display: block;
      }
    }
    li.current_page_item {
      border-bottom: 3px solid #49b2ed;
    }

    // .menu-item-has-children {
    //   position: relative;
    // }

    // .menu-item-has-children {
    //   ::after {
    //     content: "";
    //     position: absolute;
    //   }
    // }

    .sub-menu {
      display: none;
      position: absolute;
      z-index: 10;
      background: #fff;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
      top: 40px;
      left: 0;
      width: max-content;
      li {
        a {
          text-transform: inherit;
          font-size: 12px;
          color: black;
        }
      }
    }
  }
}

// .nav-bar-menu.scroll-menu {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 10;
// }
.icon-responsive {
  display: none;
}
.close-icon {
  display: none;
  cursor: pointer;
}
.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .icon-responsive {
    display: block;
  }
  .nav-bar-menu {
    width: 100%;
    .menu {
      display: none;
    }
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  }
  .open .menu {
    display: flex;
    flex-direction: column;
    align-items: inherit;
  }

  .open .menu-icon {
    display: none;
  }
  .close-icon {
    display: none;
    cursor: pointer;
  }
  .open .close-icon {
    display: block;
  }
}
